<% if (message) { %>
    <p> <%= message %></p>
<% } %>
<!-- 
<form action="/users/login" method ='POST'>
    <label for="email">Email</label>
    <input id="email" type="email" name="email" required>

    <label for="password">Password</label>
    <input id="password" type="password" name="password" required>
    <button type="submit">Login</button>
</form>
<p>If you don't have an account, click <a href="/users/new">here</a> to sign up</p> -->

<form action="/users/login" method ='POST'>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
      <div id="emailHelp" class="form-text">If you don't have an account, click <a href="/users/new">here</a> to sign up</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>