<form action="/users" method ='POST'>
    <label for="name">Name</label>
    <input id="name" type="name" name="name" required>

    <label for="email">Email</label>
    <input id="email" type="email" name="email" required>

    <label for="password">Password</label>
    <input id="password" type="password" name="password" required>

    <label for="country">Country</label>
    <input id="country" type="country" name="country" required>
    <button type="submit">Sign Up</button>
</form>